
.tituloPrincipal{
    padding-left: 30px;
}

#banner{
    width: 100%;
}

.principal{
    background: #cccccc;
    padding: 20px;
}

p{
    text-align: center;
}

#mission{
    font-size: 20px
}

em strong{
    color: red;
}

.diferenciales{
    background: #ffffff;
    padding: 30px;
}

.titulosCentralizados{
    text-align: center;
}

.items{
    font-style: italic;
}

.imagenDiferencial{
    width: 50%;
}